body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 3rem;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.301);
}

.result {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(221, 100%, 96%);
    border-radius: 3rem;
    text-align: center;
    width: 350px;
    height: 500px;
}

.result-head {
    padding-top: 20px;
    font-size: 24px;
}

.score-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50px auto;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.result-score {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 60px;
    padding-top: 50px;
}

.result-score span {
    display: block;
    font-size: 18px;
    font-weight: 100;
}

.result-great {
    font-size: 32px;
}

.result-text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.summary {
    padding: 20px 40px;
}

.summary-head {
    color: hsl(224, 30%, 27%);
}

.list h3 {
    padding: 0;
    margin: 0;
}

.list {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    font-weight: 100;
    background-color: hsl(221, 100%, 96%);
}

.icon {
    margin-bottom: -4px;
}

.list-red {
    color: hsl(0, 100%, 67%);
}

.list-orange {
    color: hsl(39, 100%, 56%);
}

.list-green {
    color: hsl(166, 100%, 37%);

}

.list-blue {
    color: hsl(234, 85%, 45%);
}


.summary-btn {
    margin-top: 50px;
    color: hsl(221, 100%, 96%);
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: none;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 50px;
    transition: all ease-in-out 0.5s;
}

.summary-btn:hover {
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 60%), hsl(241, 81%, 50%));
}


.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:375px) {
    .container {
        flex-direction: column;
    }
}